In [2]:
import numpy as np
from scipy import stats

## finding mean

In [15]:
data = np.array([1, 3, 5, 2, 3, 7, 8, 4, 10, 0, 6, 7, 3, 0, 3, 0, 5, 7, 10, 1, 4, 9, 3, 7])

# TODO: Complete this function by having the function return the average value of our dataset.
def compute_mean(dataset):
    """ Main function that calculates the average value across our data. """
    mean = np.mean(dataset)
    return mean

compute_mean(data)

4.5

## median

In [19]:
print(np.sort(data))

[ 0  0  0  1  1  2  3  3  3  3  3  4  4  5  5  6  7  7  7  7  8  9 10 10]

In [28]:
def compute_median(dataset):
    """ Main function that determines the median value across our data. """
    count = len(dataset)
    
    if count < 1:
        return None
    if count % 2 == 1:
        np.sort(dataset)
        return np.median(dataset)
    else:    
        np.sort(dataset)
        half = count/2
        first = np.floor(half)
        second = np.ceil(half)
        return (first+second)/2
        
    
compute_median(data)

12.0

## mode

...

In [5]:
data = np.array([1, 3, 5, 2, 3, 7, 8, 4, 10, 0, 6, 7, 3, 0, 3, 0, 5, 7, 10, 1, 4, 9, 3])

# TODO: Complete this function by having the function return the average value of our dataset.
def compute_mean(dataset):
    """ Main function that calculates the average value across our data. """
    d = {}
    
    for i in dataset:
        if i not in d:
            d[i] = 1
        else:
            d[1]+=1
    return (d, max(d.values()))

compute_mean(data)

({1: 13, 3: 1, 5: 1, 2: 1, 7: 1, 8: 1, 4: 1, 10: 1, 0: 1, 6: 1, 9: 1}, 13)

## range

In [44]:
# reorder from small to large
# get highest and lowest and find difference

def compute_range(dataset):
    sorted_data = np.sort(dataset)
    data_max = max(sorted_data)
    data_min = min(sorted_data)
    return data_max - data_min

compute_range(data)

10

## Variance

* first find mean
* find differnce between each value and mean
* find square of all differences
* all all square values
* divide over 1/length of list

In [48]:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.DataFrame({'Rainy':[29,28,32,35,36,12,18,30,45,55, 32,32,32,32,32], 'City':['City_A']*5 + ['City_B']*5 + ['City_C']*5})
df

    Rainy    City
0      29  City_A
1      28  City_A
2      32  City_A
3      35  City_A
4      36  City_A
5      12  City_B
6      18  City_B
7      30  City_B
8      45  City_B
9      55  City_B
10     32  City_C
11     32  City_C
12     32  City_C
13     32  City_C
14     32  City_C

In [55]:
df.mean('City_A')

ValueError: No axis named City_A for object type <class 'pandas.core.frame.DataFrame'>

# Standard Variation

* follow all steps for finding Variance
* find square root

In [6]:
def std_f(ls):
    mean_ls = np.mean(ls)
    sum_squared_from_mean = sum([(i - mean_ls)**2 for i in ls])
    return np.sqrt(sum_squared_from_mean/(len(ls) - 1))

print(std_f([5, 10, 15 ,20]))

6.454972243679028