In [1]:
2+2

4

In [2]:
def addition(a, b):
    return a+b

In [3]:
addition(2,5)

7

$ \dot{x} & = \sigma(y-x) \\ $

In [4]:
\begin{align}
\dot{x} & = \sigma(y-x) \\
\dot{y} & = \rho x - y - xz \\
\dot{z} & = -\beta z + xy
\end{align}

SyntaxError: unexpected character after line continuation character (<ipython-input-4-e6fc361e33e7>, line 1)

\begin{align}
\dot{x} & = \sigma(y-x) \\
\dot{y} & = \rho x - y - xz \\
\dot{z} & = -\beta z + xy
\end{align}

## Mathematical notation for average

![img](https://www.amazingclubs.com/img/flowerofthemonthclub.jpg)

In [11]:
import pandas as pd 

# read in the CSV
df = pd.read_csv('titanic.csv')
# create a list of Age values,
# not including N/A values
ls_age = df['Age'].dropna()

In [12]:
print(ls_age)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: Age, Length: 714, dtype: float64

In [26]:
def mean_func(ls):
    s=0
    for i in ls:
        s+=i
    return s/len(ls)

In [28]:
print(mean_func(ls_age))

15077347.751390738

## Percentage of women

In [34]:
import pandas as pd 

# read in the CSV
df = pd.read_csv('titanic.csv')
# create a list of Age values,
# not including N/A values
ls_gender = df['Sex']
print(ls_gender)

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [36]:
ls_gender.value_counts(normalize=True) * 100

male      64.758698
female    35.241302
Name: Sex, dtype: float64